.about
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  height 25rem
  width 100%
  margin auto
  text-align center

  .title
    margin-top 4rem

  .desc
    margin-bottom 4rem

  .author
    margin-bottom 2rem

  .list-inline
    margin-bottom 4rem

  .list-inline > li > a
    color #d50000