body
  background-color #eeeeee

h1,h2,h3,h4,h5,h6,p,span
  color #373737

.navbar-inverse
  background-color #d50000
  border-color #d50000

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover
    background-color #d53333

.white
  background-color white

.mar-top-8
  margin-top 8rem
.mar-bot-2
  margin-bottom 2rem

